<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>edit Book Record</title>
    <link rel="stylesheet" href="{%static 'css/BRMstyle.css'%}">
</head>
<body>
    <div id="header">
        <h1>Book Record Management </h1>
        <div id="nav">
            <a href="/BRMapp/view-books">Views All</a>
            <a href="/BRMapp/new-books">New Book</a>
            <a href="/BRMapp/search-books">Search</a>
            <a href="/BRMapp/logout">Logout</a>
        </div>
    </div>
    <div id="main">
        <h2>Edit Book Record</h2>
        <form action="/BRMapp/edit" method='post'>
            {% csrf_token %}
            <input type="hidden" name ="bookid" value="{{book.id}}">
            {{form}}
            <input type="submit" value="Save">
        </form>
    </div>
</body>
</html>