<!DOCTYPE html>
<html lang="en">
{% load static %}

<head>
    <meta charset="UTF-8">
    <title>View Book</title>
    <link rel="stylesheet" href="{% static 'css/BRMstyle.css' %}">
</head>

<body>
    <div id="header">
        <h1>Book Record Management </h1>
        <div id="nav">
            <a href="/BRMapp/view-book">Views All</a>
            <a href="/BRMapp/new-book">New Book</a>
            <a href="/BRMapp/search-book">Search</a>
            <a href="/BRMapp/logout">Logout</a>
        </div>
    </div>
    <div id="main">
        <h2>View Book Record</h2>
        <table>
            <thead>
                <th>Book Title</th>
                <th>price</th>
                <th>Author</th>
                <th>Publisher</th>
            </thead>
            {% for book in books %}
            <tr>
                <td>{{book.title}}</td>
                <td>{{book.price}}</td>
                <td>{{book.author}}</td>
                <td>{{book.publisher}}</td>
                <td><a class="btn" href="/BRMapp/edit-book?bookid={{book.id}}">Edit</a></td>
                <td><a class="btn" href="/BRMapp/delete-book?bookid={{book.id}}">Delete</a></td>

            </tr>
            {% endfor%}
        </table>
    </div>
</body>

</html>